<%= javascript_include_tag "foreman_openstack_cluster/cluster", debug: true %>

<% title _("New OpenStack Cluster") %>

<%= form_for @cluster do |f| %>
  <%= base_errors_for @cluster %>

  <div class="control-group <%= 'error' if f.object.errors.any? %>">                                                                                                    

  <% @cluster.class.params.each do |k,v| %>
    <%= f.label k, :class => "span2" %>
    <%= f.text_field k, :class => "span5" %>
  <% end %>

  </div>

  <%= submit_or_cancel f, false, {:cancel_path => hostgroups_path} %>
<% end %>
